// about
.wrapAboutHome.titleLeft.bgColor1
    .container-xl.containerItem
        .contentItem.wrapContent1
            img.logoParalax.left(src='images/logo/comodo-hotel-logo-paralax.png' alt= data.general.title_website)
            |
            |
            .row.rowItem
                .col-lg-5.colImgAbouthome
                    .wrapImgResize.wrapImgAboutHome
                        img.imgAbouthome(src='images/banner/about.jpg' alt= data.general.title_website)

                .col-lg-7.colTextAboutHome
                    +render_title('About Us', ' Comodo Nha Trang Hotel')

                    .wrapTextAboutHome
                        p(style='font-weight: 700;') Have you planned your vacation with your family yet?

                        p If you love Nha Trang - an extremely beautiful and friendly coastal city, if you love a luxurious but equally cozy and comfortable space, if you need a trip to experience life in a genuine way Real and modern, Comodo Hotel will be an excellent choice.

                        p Come to us, come to perfection, you will feel your own worth, we are not just a rest stop, moreover, with the service of a team of professional staff. business, will definitely give you, your friends and family a feeling of being in your own home. Welcome to Comodo Nha Trang

                        p The coastal city of Nha Trang is entering the season with the most beautiful weather, the wind and the sun will not make you feel surprised, but on the contrary, will make you feel comfortable.

                        p This is the time to travel to feel the full value of the central coastal region, with friendly and hospitable people. Moreover, when you come to Comodo Nha Trang, we will contribute to making your life much more meaningful. Go to enjoy - Come to experience.
                    
                    a.btn2.btnSeeMoreAbout(href='javascript:void(0);' title='View more')
                        | View more
                        svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512')
                            path(fill='currentColor' d='M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z')
            |
            |
            img.logoParalax.right(src='images/logo/comodo-hotel-logo-paralax.png' alt= data.general.title_website)
// end about