// room list
.wrapRoom.wrapContent1.bgColor2
    .container-xl.containerItem 
        .contentItem
            +render_title('Discover now', 'The best room')

            .row.listItem.row1
                each item in data.rooms
                    .col1.col-lg-12.col-sm-6.colItemRoom
                        .itemRoom
                            .row.rowList.row1
                                .col-lg-5.colImg.col1
                                    .contentCol 
                                        each img in item.images
                                            .wrapImg
                                                a.wrapImgResize.img16And9(href= item.link title= item.title)
                                                    img(src= img alt= item.title)
                                    |
                                    |
                                    .reviewImgRoom 
                                        .wrapImgResize.img16And9
                                            img(alt='Room')
                                |
                                |
                                .col-lg-7.colText.col1
                                    .contentCol
                                        h3.titleItem.titleMain 
                                            a.linkTitleItem1.linkTitle(href= item.link title= item.title)= item.title

                                        p.sumary= item.sumary

                                        .wrapTextAndInfo
                                            .row.rowInfo
                                                .col-lg-6.colInfo
                                                    .contentColInfo 
                                                        a.btnLinkItem.btn4(href= item.link title='Learn more') Learn more

                                                        .wrapTextInfo 
                                                            p + Mountain view
                                                            p + Balcony
                                                            p + Wireless Internet
                                                            p + Air conditioned
                                                            p + 02 Twin beds
                                                |
                                                |
                                                .col-lg-6.colPrice
                                                    .contentColInfo 
                                                        p.wrapPrice.old.titleItem2= item.price_old +' VNĐ'
                                                        |
                                                        |
                                                        p.wrapPrice.current.titleItem1= item.price_curent +' VNĐ'
                                                        |
                                                        |
                                                        a.btnBook.btn2(href='javascript:void(0);' title='Book Now' data-toggle='modal' data-target='#modalBookRoom') 
                                                            | Book Now
                                                            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512')
                                                                path(fill='currentColor' d='M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z')
// end room list