// subscribe
.wrapSubscribe.titleWhite(style='background-image: url(images/banner/subscribe.jpg);')
    .bgItem.wrapContent1
        .container-xl.containerItem 
            .contentItem
                +render_title('Subscribe email', 'Save Time, Save Money!')

                .row.rowItem.row1
                    .col-7.col-sm-8.col-lg-8.colItem.col1
                        .formContent
                            .inputGroupItem
                                input.inputItem(type='text' placeholder='Your email')

                    .col-5.col-sm-4.col-lg-4.colItem.col1
                        a.btn5.btnSubscribe(href='javascript:void(0);' title='Subscribe') Subscribe
// end subscribe