// color
$color1: white;
$color2: #333;
$color3: #8b0021;
$color4: #f7f7f7;
$color5: #8b8d8e;
$color6: #ddd; 
$color7: #eeeeee;
$color8: #231f20;
$color9: #000000cc;
$color10: #ffffffcc;
$color11: red;
$color12: #6c7592;
$color13: rgba(255, 255, 255, 0.5);
$color14: #656565;
$color15: #cacaca;
$color16: #051242;
$color17: #ffffffcc;
$color18: #0f75bdf2;
$color19: #f1f1f1;
$color20: #ffcb04;
$color21: #00000099;
$color22: #edbd25;
$color23: #d8a24e;
$color24: #000000e6;
$color25: #a90028;
$color26: rgba(169, 0, 40, 0.6);
$color27: #ffffff1a;

// social color
$colorFacebook: #0067e4;
$colorYoutube: #f20000;
$colorTwitter: #4ca2e5;
$colorLinkedin: #0071ae;
$colorInstagram: #e2416c;
$colorVimeo: #19aede;
$colorTripAdvisor: #31d599;

// box shadow
$boxShadow1: 0px 0px 15px 0px #00000080;
$boxShadow2: 0px 0px 10px 2px #00000033;
$boxShadow3: 0px 1px 10px 0px #0000001a;
$boxShadow4: 5px 5px 5px 0px #0000001a;

// text shadow
$textShadow1: 0px 0px 1px #ffffff;

// font family
$nameFont1: 'Montserrat';

// general
$heightHeader: 132px;